.row{
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    margin-bottom: 25px;
}
.r11{
    background-color: magenta;
    margin-top: 10px;
    height: 120px;
}
.r12{
    background-color: darkslategray;
    margin-top: 10px; 
    height: 120px;
}
.r13{
    background-color: crimson;
    margin-top: 10px; 
    height: 120px;
}
.r21{
    background-color: burlywood;
     margin-top: 10px; 
    height: 120px;
}
.r22{
    background-color: lightcoral;
     margin-top: 10px; 
    height: 120px;
}
.r31{
    background-color: mediumslateblue;
     margin-top: 10px; 
    height: 120px;
}
.box11{
    background-color: red;
    height: 120px;
    margin-top: 10px;
}
.box12{
    background-color: chocolate;
    height: 120px;
    margin-top: 10px;
}.box21{
    background-color: lightcoral;
    height: 120px;
    margin-top: 10px;
}.box22{
    background-color: coral;
    height: 120px;
    margin-top: 10px;
}.box31{
    background-color: brown;
    height: 120px;
    margin-top: 10px;
}.box32{
    background-color: brown;
    height: 120px;
    margin-top: 10px;
}